@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
svg {
    font: 10em 'Montserrat';
    margin:0 auto;
}
*{
  font-family: 'Indie Flower', cursive;
}
body{
  background: #030321;
}

.text-copy {
    fill: none; 
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: lime;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: cyan;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: cyan;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: lime;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}